<div id="<%= dom_id post %>">
  <p style="text-align:center"><FONT SIZE=7>★</font></p>
   <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p> 
  

 <p>
   <% if  post.image %>
    <strong>Image data:</strong>
    <%= image_tag post.image_url%>
    </br>
    <%end%>
</p>

<h1 style="text-align:center"><FONT SIZE=5>Comentarios:</font></h1>
<% post.comment.each do |comment| %>
  
  <p>
    <strong style="text-align:center">Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2 style="text-align:center">Add a comment:</h2>
<%= form_for([post, post.comment.build]) do |f| %>
  <p style="text-align:center">
    <%= f.text_area :body %>
  </p>
  <p style="text-align:center">
    <%= f.submit %>
  </p>
   
<% end %>
</div>
